<div class="social">
	<ul>
		<li><a href="../index.html#getting-started" id="bottomright" class="Link--action"></i>Try ATSyRA Studio now!</a></li>
	</ul>
</div>
<script>
// Toggle the table of contents
$( "button#tocbutton" ).click(function() {
  if ($("#tocbutton").css('right') == '25px') {
    $( "#tocbutton" ).animate({right: '215px'},"slow");
    $( "#toc.toc2" ).animate({right: '0'},"slow");
}
  else {
    $( "#tocbutton" ).animate({right: '25px'},"slow");
    $( "#toc.toc2" ).animate({right: '-13rem'},"slow");
}
});
</script>
<script>
// Initialise mobile menu
  $(function(){
    $('#menu').slicknav();
  });
</script>
<script type="text/javascript">
// Create a back to top button
$('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');
var amountScrolled = 300;
$(window).scroll(function() {
if ( $(window).scrollTop() > amountScrolled ) {
	$('a.back-to-top').fadeIn('slow');
} else {
	$('a.back-to-top').fadeOut('slow');
}
});
$('a.back-to-top, a.simple-back-to-top').click(function() {
$('html, body').animate({
	scrollTop: 0
}, 700);
return false;
});
</script>