<!-- ************* Meta ************* -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<!-- ************* OpenGraph ************-->
<meta name="description" content="The ATSyRA Studio is an Integrated Environment for validating and synthesiz-
ing Attack Trees.">
  
<meta property="og:site_name" content="ATSyRA Studio"/>
<meta property="og:title" content="ATSyRA Studio"/>
<meta property="og:url" content="https://gitlab.inria.fr/atsyra/atsyra2"/>
<meta property="og:description" content="The ATSyRA Studio is an Integrated Environment for validating and synthesiz-
ing Attack Trees."/>
<meta property="og:image" content="images/n4js.png">

<!-- ************* Favicon ************-->
<link rel="icon" href="../images/favicon.ico" />
<link rel="icon" type="image/png" href="../images/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="../images/favicon-16x16.png" sizes="16x16" />  

<!-- ************* Back-to-top JQuery ************* -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="../scripts/nav-mobile.js"></script>

<!-- ************* Prism.js Syntax Highlighter ******-->
<link href="../styles/prism.min.css" rel="stylesheet"/>
<script src="../scripts/prism.js"></script>



<!-- ************* Styles ************* -->

<link rel="stylesheet" type="text/css" href="../styles/n4js-adoc.css">

<!-- ****************** NavBar ****************** -->
<div id="menubar">
    <div class="banner">
        <a href="../index.html"><img src="../images/ATSyRA-logo.png" alt="ATSyRA Studio" height="64" width="64">ATSyRA Studio</a></a>
    </div>
<ul>
  <li><a href="../index.html#getting-started">Download</a></li>
  <li><a href="../documentation.html">Documentation</a>
    <ul>
      <li><a href="ug_overview.html#,Overview">ATSyRA Overview</a></li>  
      <li><a href="../documentation.html#MultiDomain">ATSyRA MultiDomain User Guide</a></li>
      <li><a href="../documentation.html#SingleDomain">ATSyRA SingleDomain User Guide</a></li>
      <li>------</li>
      <li><a href="../documentation.html#DeveloperGuide">Developer guide</li>
    </ul>
  </li>
</ul>
</div>
<button id="tocbutton">TOC</button>

<!-- ****************** Mobile NavBar ****************** -->
<div class="box"><a id="n4js-mobile-logo" href="../index.html"></a><p>ATSyRA Studio</p></div>
<div class="mobile-navbar">
<ul id="menu">
  <li><a class="scroll" href="../index.html#getting-started">Download</a></li>
  
  <li><a class="scroll" href="../documentation.html">Documentation</a>
    <ul>
      <li><a href="ug_overview.html#,Overview">ATSyRA Overview</a></li>  
      <li><a href="../documentation.html#MultiDomain">ATSyRA MultiDomain User Guide</a></li>
      <li><a href="../documentation.html#SingleDomain">ATSyRA SingleDomain User Guide</a></li>
      <li>------</li>
      <li><a href="../documentation.html#DeveloperGuide">Developer guide</li>
    </ul>
  </li>
  
</ul>
</div>