<!-- ************* Meta ************* -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<!-- ************* OpenGraph ************-->
<meta name="description" content="The N4JS language and its IDE enable high-quality JavaScript development for large Node.js projects.">

<meta property="og:site_name" content="N4JS"/>
<meta property="og:title" content="N4JS Language and IDE"/>
<meta property="og:url" content="https://numberfour.github.io/n4js"/>
<meta property="og:description" content="The N4JS language and its IDE enable high-quality JavaScript development for large Node.js projects."/>
<meta property="og:image" content="../images/n4js.png">

<!-- ************* Favicon ************-->
<link rel="icon" href="../images/favicon.ico" />
<link rel="icon" type="image/png" href="../images/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="../images/favicon-16x16.png" sizes="16x16" />  

<!-- ************* Back-to-top JQuery ************* -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="../scripts/nav-mobile.js"></script>

<!-- ************* Prism.js Syntax Highlighter ******-->
<link href="../styles/prism.min.css" rel="stylesheet"/>
<script src="../scripts/prism.js"></script>

<!-- ****************** Analytics ****************** -->
<!--
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78747727-1', 'auto');
  ga('send', 'pageview');

</script>
-->
<!-- ************* Styles ************* -->

<link rel="stylesheet" type="text/css" href="../styles/n4js-adoc.css">

<!-- ****************** NavBar ****************** -->
<div id="menubar">
    <div class="banner">
        <a href="../index.html"><img id="logo" src="../images/n4js-logo.png" alt="N4JS Language and IDE"></a>
    </div>
<ul>
  <li><a href="../index.html#getting-started"></i>Download</a></li>
  <li><a href="../features/index.html">Features</a>
      <ul>
        <li><a href="../features/index.html">All N4JS Features</a></li>
        <li><a href="../features/async-await.html">Async/Await</a></li>
        <li><a href="../features/dependency-injection.html">Dependency Injection</a></li>
        <li><a href="../features/generics.html">Generics</a></li>
        <li><a href="../features/modules.html">Modules</a></li>
        <li><a href="../features/nodejs-support.html">Node.js Support</a></li>
        <li><a href="../features/nominal-and-structural-typing.html">Nominal and Structural Typing</a></li>
        <li><a href="../features/testing.html">Testing</a></li>
    </ul>
  </li> 
  <li><a href="../userguides/index.html">Documentation</a>
    <ul>
      <li><a href="../spec/N4JSSpec.html">N4JS Language Specification</a></li>
      <li><a href="../userguides/n4js-ide-setup.html">IDE Setup & HelloWorld!</a></li>
      <li><a href="../userguides/npm-export-guide.html">Export as npm</a></li>
      <li><a href="../userguides/tutorial.html">N4JS Tutorial</a></li>
    </ul>
  </li>
  <li><a href="../faq/index.html">FAQ</a>
    <ul>
      <li><a href="index.html">FAQ</a></li>
      <li><a href="comparison-typescript.html">Typescript & N4JS Comparison</a></li>
      <li><a href="comparison-java.html">Java & N4JS Comparison</a></li>
    </ul>
  </li> 
</ul>
</div>
<button id="tocbutton">TOC</button>
<div id=faq>
<nav>
  <h2>FAQ</h2>
  <ul>
      <li><a href="index.html" >FAQ</a></li>
      <li><a href="comparison-java.html" class="is-active">N4JS and Java</a></li>
      <li><a href="comparison-typescript.html" >N4JS and Typescript</a></li>
  </ul>
</nav>
</div>
<!-- ****************** Mobile NavBar ****************** -->
<div class="box"><a id="n4js-mobile-logo" href="../index.html"></a><p>N4JS Language & IDE</p></div>
<div class="mobile-navbar">
<ul id="menu">
  <li><a class="scroll" href="../index.html#getting-started"></i>Download</a></li>
  <li><a class="scroll" href="../features/index.html">Features</a>
      <ul>
        <li><a href="../features/index.html">All N4JS Features</a></li>
        <li><a href="../features/async-await.html">Async/Await</a></li>
        <li><a href="../features/dependency-injection.html">Dependency Injection</a></li>
        <li><a href="../features/generics.html">Generics</a></li>
        <li><a href="../features/modules.html">Modules</a></li>
        <li><a href="../features/nodejs-support.html">Node.js Support</a></li>
        <li><a href="../features/nominal-and-structural-typing.html">Nominal and Structural Typing</a></li>
        <li><a href="../features/testing.html">Testing</a></li>
    </ul>
  </li> 
  <li><a class="scroll" href="../userguides/index.html">Documentation</a>
    <ul>
      <li><a href="../spec/N4JSSpec.html">N4JS Language Specification</a></li>
      <li><a  href="../userguides/n4js-ide-setup.html">IDE Setup & HelloWorld!</a></li>
      <li><a  href="../userguides/npm-export-guide.html">Export as npm</a></li>
      <li><a  href="../userguides/tutorial.html">N4JS Tutorial</a></li>
    </ul>
  </li>
  <li><a class="scroll" href="index.html">FAQ</a>
    <ul>
      <li><a  href="index.html">FAQ</a></li>
      <li><a  href="comparison-typescript.html">Typescript & N4JS Comparison</a></li>
      <li><a  href="comparison-java.html">Java & N4JS Comparison</a></li>
    </ul>
  </li> 
</ul>
</div>